{% extends "base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<div class='container p-3'>

  <h2>Sign up</h2>
  <form class="container border border-secondary d-flex flex-column p-3" method="post">
    {% csrf_token %}
    <div class=" my-1">Username
      <p>{{form.username}}</p>
      {% for error in form.username.errors %}
      <p class="rounded bg-warning p-2">{{ error }}</p>
      {% endfor %}

      <small>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
    </div>
    <div class=" my-1">Password
      <p>{{form.password1}}</p>
      <ul>
        <li><small>Your password can’t be too similar to your other personal information.</small></li>
        <li><small>Your password must contain at least 8 characters.</small></li>
        <li><small>Your password can’t be a commonly used password.</small></li>
        <li><small>Your password can’t be entirely numeric.</small></li>
      </ul>
    </div>

    <div class=" my-1">Password Confirmation
      <p>{{form.password2}}</p>
      {% for error in form.password2.errors %}
      <p class="rounded bg-warning p-2">{{ error }}</p>
      {% endfor %}
      <small>Enter the same password as before, for verification. </small>
    </div>
    <button class="btn btn-secondary" type="submit">Sign Up</button>
  </form>
</div>
{% endblock %}